.navbar{
    background: #000;
    opacity: .9;
}

.nav-item{
    padding: .4cm !important;
}
.nav-link{
    text-transform: uppercase;
}
.carousel-item{
    height: 450px;
}
.carousel-img-1{
    background: url('../img/img-00005.jpg');
    background-size: cover;
}
.carousel-img-2{
    background: url('../img/img-00002.jpg');
    background-size: cover;
}
.carousel-img-3{
    background: url('../img/img-00003.jpg');
    background-size: cover;
}

#homeicon .fa{
    font-size: 50px;
}
#getstarted{
    background: url('../img/image-pc2.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat; 
    min-height: 300px;
    position: relative;
}
#getstarted .dark-overlay{
    background: rgba(0,0,0,0.7);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#home-video{
    background: url('../img/image-nt-1.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 300px;
    position: relative;
}
#home-video .dark-overlay{
    background: rgba(0,0,0,0.7);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
#home-video .fa{
    font-size: 50px;
    color: #ff000f;
}

#photo-gallery img {
    width: 350px;
    height: 250px;
}
#copyright{
    background: #000;
    height:110px;
}

#pageheader{
    background: url('../img/img-00002.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 400px;
    background-attachment: fixed;
}
#about-info img{
    height: 390px; 
    width: 390px;
}
#icon-boxes .fa{
    font-size: 50px;
    margin-bottom: 20px;
}

#testimonial .slick-prev:before{
    color: #000;
}
#testimonial .slick-next:before{
    color: #000;
}

#services-pageheader{
    background: url('../img/img-00006.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 500px;
    background-attachment: fixed;
}

#blog-pageheader{
    background: url('../img/img-00001.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 500px;
    background-attachment: fixed;
}

#contact-pageheader{
    background: url('../img/img-00004.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 500px;
    background-attachment: fixed;
}

@media(min-width: 992px){
    
}